@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
  --bg-color: #d7d7d7;
  --fg-color: #0D160B;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

svg {
  position: absolute;
}

html, body {
  margin: 0;
  background: var(--bg-color);
  font-family: 'Quicksand', sans-serif;
  grid-template-columns: min-content auto;
}

body {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
  font-size: 14pt;
  color: var(--fg-color);
  gap: 2rem;
  transition: all 0.5s ease-in-out;
  align-items: center;
}

.logo {
  display: grid;
  justify-items: center;
  align-items: center;
}

#clipped {
  clip-path: url("#logoClip");
  width: 250px;
  height: 270px;
}

#main {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  justify-items: center;
  grid-column: 2;
  grid-row: 1;
}

nav {
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(3, max-content);
  grid-column: 2;
  grid-row: 1;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  text-shadow: #f92727 0 0.05rem, #19c9ff 0 -0.05rem;
}

a:active {
  color: inherit;
}

a:focus {
  color: inherit;
}

.page {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

.page:target {
  opacity: 1;
  clip: unset;
  clip-path: unset;
  height: unset;
  overflow: auto;
  position: static;
  white-space: normal;
  width: unset;
  grid-column: 1;
  transform: scaleX(1);
}

#music {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  max-height: 100vh;
}
